[user]
    email = 185041685+bbeetlesam@users.noreply.github.com
    name = bbeetlesam

[init]
    defaultBranch = main

[core]
    editor = nvim

[color]
    ui = auto

# pls dont judge my aliases
[alias]
    cm = commit -m
    cam = commit -am
    ps = push -u origin HEAD
    pl = pull
    fe = fetch
    st = status -v
    sts = status -sb
    co = checkout
    lga = log --all --decorate --oneline --graph
